@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body{

  ::-webkit-scrollbar {
    width: 0.1em; /* This width is set to a very small value to effectively hide it */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Make the scrollbar track transparent */
  }

  ::-webkit-scrollbar-thumb {
    background: transparent; /* Make the scrollbar thumb (the draggable part) transparent */
  }

}
